<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Nota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title size="large">Escolha sua nota</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-range min="0" max="100" value="60" step="5" snaps="true" pin="true" color="secondary" #nota
      (ionChange)="atualizarSituacao(nota.value)">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>

    <ion-card>
      <ion-card-content>
        <p>{{situacao}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>